
.Body {
    min-width: 1062px;
    max-width: 1100px;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 60px;
}

.Header {
    overflow: auto;
    margin-bottom: 60px;
}

.Link {
    color: #b4ad9e;
    font: 300 14px Ubuntu;
}

.Нeader__Logo {
    display: inline-block;    
}

.Nav {
    display: inline-block; 
    float: right;
}

.Nav__List {
    list-style:none;
}

.Nav__List_Link{
    color: #626262;
    font: 400 14px / 24px PlayfairDisplay;
}

.Main {
}

.Gallery {
    display: block;
    margin: auto;
}

.Gallery__Img {
    margin-top: 57px;
}

.Section {
    display: inline-block;
    max-width: 700px;
    margin-right: 70px;
}

.Article {
    display: block;
    text-align: left;
}

.Article__Header {
    color: #626262;
    font: 400 30px PlayfairDisplay;
}

.Article__Text {
    color: #626262;
    font: 400 14px PlayfairDisplay;
}

.Gallery__Signature {
    color: #626262;
    font: italic 14px PlayfairDisplay;
}

.ArticleFooter {
    margin: auto;
    margin-top: 75px;
    margin-bottom: 75px;
    float:right;
}

.ArticleFooter__Text {
    color: #b4ad9e;
    font: 300 13px / 24px Ubuntu;
}

.ImgsLink {
    display: inline-block;
    
}

.ImgsLink__ImgLink {
    margin-left: 6px;
    margin-right: 6px;
}

.Aside {
    display: inline-block;
    max-width: 272px;
    min-width: 272px;
    vertical-align: top;
}

.Article__List {
    
}

.Banner {
    background: url("../images/Banner.png");
    height: 150px;
    width: 250px;
    text-align: center;
    padding-top: 100px;
}

.Banner__Header {
    display: block;
    color: #ffffff;
    font: 300 48px Ubuntu;
}

.Banner__Text {
    display: block;
    color: #ffffff;
    font: 300 14px Ubuntu;
}

.Footer {
    background-color: #d9d9d9;
    min-height: 100px;
    align-content: center;
}

.Footer__Links {
    display: inline-block;
    margin: 40px;
}

.Footer__Follow {
    display: inline-block;
    float: right;
    margin: 20px;
}

.Nav__List_Item {
    float: left;
    margin-right: 60px;
    margin-left: 60px;
    text-transform: uppercase;
}

.Article__Text_Strong {
    font-weight: bold;
}

.Link_ForFooter {
    color: #000000;
    font: 400 14px PlayfairDisplay;
    margin-right: 10px;
}
